body{
  background: #151515;
}
body h1 {
    color: #D3D3D3;
    display: flex;
    justify-content: center;
    margin: 35px;
}
body p {
    color: #D3D3D3;
}
body span {
    color: #D3D3D3;
    font-size: 30px;
}
.dashboard_div {
    border: 2px solid black;
    background-color: #36393e;
    padding: 20px;
    border-radius: 15px;
    margin: 40px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: initial;
}
.dashboard_div img {
    max-height: 250px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.dashboard_div p {
    color: #D3D3D3;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
}
div span a {
    color: #ADD8E6;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.link {
    color: #ADD8E6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.page-div {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
.page-div-p{
    color: #D3D3D3;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.dashboard_div h1 {
    color: #D3D3D3;
}
.div-button {
    background-color: #339733;
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: black;
    border: none;
    padding: 5px 15px;
    margin: 10px;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.prison-button {
    background-color: #339733;
    display: flex;
    color: black;
    border: none;
    padding: 5px 15px;
    margin: auto;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.prison-button-div {

}
.div-button a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.div-button:hover {
    background-color: #155015;
}
.main_dash_div {
    background-color: #759f75;
    margin: 50px;
    border-radius: 30px;
    border: 5px solid black;
    /*
    display: grid;
    grid-template-columns: repeat(3, auto);
    */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.main_dash_div::before {
    content: '';
    flex-basis: 100%;         /* Break the row after the last full row */
    height: 0;
}
.main_dash_div::after {
    content: '';
    flex: auto;
}
.main_dash_div:not(:empty)::before {
    display: none;  /* Hides the breaking element if there's no full row */
}