<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        
        <a href="{% url 'police_officer_register' %}">
            Register as Police Officer
        </a>
    </div>

    <div>
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
    </div>
</body>
</html>