{% extends 'common/navbar.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'common/search_form.css' %}">
    <link rel="stylesheet" href="{% static 'common/base.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Registered Vehicles</h1>
    
    
            <!-- Search Form -->
    <div class="search-div">
        <form method="get" class="search-form">
            {{ search_form.as_p }}
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>    
        {% if vehicles %}
    <div class="main_dash_div">
        {% for vehicle in vehicles %}
            <div class="dashboard_div">
                <p>Type: {{ vehicle.vehicle_type }}</p>
                <p>Brand: {{ vehicle.make }}</p>
                <p>Model: {{ vehicle.model }}</p>
                <p>Year: {{ vehicle.year }}</p>
                <p>License plate: {{ vehicle.license_plate|upper }}</p>
                <p>Criminal: <a href="{% url 'criminal_details' vehicle.criminal.id %}" class="link">{{ vehicle.criminal.first_name }} {{ vehicle.criminal.last_name }}</a></p>

                {% if 'vehicles.change_vehicle' in request.user.get_group_permissions or perms.criminals.can_do_approve %}
                    <button class="div-button"><a href="{% url 'detail_vehicle' vehicle.pk %}">Details</a></button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if not page_obj.has_next and page_obj.number == 1 %}
                <p class="page-div-p">That's the only page</p>
            {% else %}
                <div class="page-div">
                    <span>
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
    {% else %}
        <h1>There are no registered vehicles.</h1>
    {% endif %}
</body>
</html>

{% endblock %}