{% extends 'common/navbar.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'common/search_form.css' %}">
    <link rel="stylesheet" href="{% static 'common/base.css' %}">
    <link rel="stylesheet" href="{% static 'common/homepage.css' %}">
    
    <title>Document</title>
    
</head>
<body>
<div class="user-div">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="div-button">
                    Logout
                </button>
            </form>
    {% else %}
        <p>Welcome, Guest!</p>
    {% endif %}
</div>
    
</body>
</html>
    
{% endblock %}
