{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'common/navigation.css' %}">
</head>
<header>
    <nav class="navbar">
        {% if not request.user.is_authenticated %}
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">
                        Home Page
                    </a>
                </li>
                <li>
                    <a href="{% url 'criminal_dashboard' %}">
                        Criminals Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'vehicle_dashboard' %}">
                        Vehicles Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'prisons_dashboard' %}">
                        Prisons Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
            
            
        {% else %}
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">
                        Home Page
                    </a>
                </li>
                <li>
                    <a href="{% url 'criminal_dashboard' %}">
                        Criminals Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'vehicle_dashboard' %}">
                        Vehicles Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'prisons_dashboard' %}">
                        Prisons Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'users' %}">
                        Profile details
                    </a>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>
<body>
{% block content %}
{% endblock %}
</body>
</html>