{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'common/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'common/base.css' %}">
</head>
    <nav class="navbar">
        {% if not request.user.is_authenticated %}
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">
                        Home Page
                    </a>
                </li>
                <li>
                    <a href="{% url 'criminal_dashboard' %}">
                        Criminals Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'vehicle_dashboard' %}">
                        Vehicles Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'prisons_dashboard' %}">
                        Prisons Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            </ul>
            
            
        {% else %}
            <ul class="nav-list">
                <li>
                    <a href="{% url 'criminal_dashboard' %}">
                        Criminals Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'vehicle_dashboard' %}">
                        Vehicles Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'prisons_dashboard' %}">
                        Prisons Dashboard
                    </a>
                </li>
            </ul>
            <button>
                <a href="{% url 'users' %}">
                    <p>Profile details</p>
                </a>
            </button>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">
                    Logout
                </button>
            </form>
        {% endif %}
    </nav>
<body>
{% block content %}
{% endblock %}
</body>
</html>