<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ criminal.first_name }} {{ criminal.last_name }} - Details</title>
</head>
<body>
    <div>
        <h1>{{ criminal.first_name }} {{ criminal.middle_name }} {{ criminal.last_name }}</h1>
        <p>Gender: {{ criminal.gender }}</p>
        <p>Age: {{ criminal.age }}</p>
        <p>Height: {{ criminal.height }} cm</p>
        {% if criminal.picture %}
            <p>Picture: <img src="{{ criminal.picture }}" alt="{{ criminal.first_name }}'s picture" /></p>
        {% endif %}
        <p>Created At: {{ criminal.created_at }}</p>
        <p>Policeman: {{ criminal.policeman }}</p>
    
        {% if detail_info %}
            <h2>Detail Information:</h2>
            <p>Hair Color: {{ detail_info.hair_color|default:"No information" }}</p>
            <p>Eye Color: {{ detail_info.eye_color|default:"No information" }}</p>
            <p>Languages: {{ detail_info.languages|default:"No information" }}</p>
            <p>Race: {{ detail_info.race|default:"No information" }}</p>
            <p>Address: {{ detail_info.address|default:"No information" }}</p>
            <p>Date of Birth: {{ detail_info.date_of_birth|date:"Y-m-d"|default:"No information" }}</p>
            <p>Description: {{ detail_info.description|default:"No information" }}</p>
        {% else %}
            <p>No additional details available for this criminal.</p>
        {% endif %}
        {% if 'criminals.change_criminalmaininfo' in request.user.get_group_permissions or perms.criminals.can_do_change%}
            <a href="{% url 'edit_details' criminal.id %}">Edit Details</a>
        {% endif %}
    </div>
</body>
</html>